<%= render 'layouts/navigation' %>

<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="display-6 mt-3">Edit Flock Type</h1>
        <div>
        <%= link_to '<< Back', types_path, class: 'btn btn-secondary mt-3 text-light' %>
        <%= link_to 'Show', @type, class: 'btn btn-success mt-3 text-light' %>
        </div>
      </div>

      <%= render 'form', type: @type  %>
     
    </div>
  </div>
</div>

