<%= render 'layouts/navigation' %>

<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="display-6 mt-3">Create Income</h1>
        <%= link_to '<< Back', incomes_path, class: 'btn btn-secondary mt-3 text-light' %>
      </div>

      <%= render 'form', income: @income %>
      
    </div>
  </div>
</div>

