<div class="container">
  <div class="row">
    <div class="card card-body mt-5">
    <div class="col-md-6 mx-auto">
      <h2 class="display-5 text-center my-10">Stock Control App</h2>
      <div class="d-flex justify-content-center my-5">
        <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-success mx-2' %>
        
      </div>
    </div>
    </div>
  </div>
</div>
